BasicReact/node_modules
BasicReact/.parcel-cache
BasicReact/dist
FoodDeliveryApp/node_modules
FoodDeliveryApp/.parcel-cache
FoodDeliveryApp/dist
netflix-app/node_modules
netflix-app/.parcel-cache
netflix-app/dist